.markdownContainer {
    background-color: aqua;
    width: 100vw;
    height: 100%;
    display: flex; 
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
}

#a {
    position: fixed;
    top: 8px;
    left: 8px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    z-index: 12;
}

.editorContainer {
    width: 500px;
    height: 300px;
    background-color: blanchedalmond;
    margin: auto;
    margin-bottom: 18px;
    margin-top: 18px;
    border: 1px solid black;
    box-sizing: border-box;
}

.previewContainer {
    width: 600px;
    height: auto;
    background-color: blanchedalmond;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
    border: 1px solid black;
    box-sizing: border-box;
}

.headerContainer {
    width: 100%;
    height: 28px;
    background-color: blue;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#editor, #editor:focus {
    width: calc(100% - 14px);
    height: calc(300px - 38px);
    border: none;
    outline: none;
    padding: 6px;
}

#preview {
    width: calc(100% - 52px);
    min-height: 300px;
    background-color: rgb(205, 227, 246);
    padding: 26px;
    overflow-x: scroll;
}